{% extends "base.html" %}
{% block title %}Easter Egg{% endblock %}
{% block head %}
<style>
    .bottom_right {
      position: fixed;
      bottom: 0;
      text-align: right;
      width: 100%;
    }
  </style>
{% endblock %}
{% block content %}
<pre class="bottom_right">
13:23 18.07.2k19
</pre>
<center>
<br>
<br>
<br>
<pre>
 ########  ########     ###     ##     ##  ##     ##
    ##     ##          ## ##    ###   ###   ##   ## 
    ##     ##         ##   ##   #### ####    ## ##  
    ##     ######    ##     ##  ## ### ##     ###   
    ##     ##        #########  ##     ##    ## ##  
    ##     ##        ##     ##  ##     ##   ##   ## 
    ##     ########  ##     ##  ##     ##  ##     ##

    ########################################################

By: Finlay, Abdullah, Brice, Adi, Nicola

+

Jason McCormack & Steve Tattum
</pre>
</center>
{% endblock %}